<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Archived</title>
    <link rel="stylesheet" href="../../components/header/header.css" />
    <link rel="stylesheet" href="../../../assets/styles/styles.css" />
    <link rel="stylesheet" href="../../components/footer/footer.css" />
    <link rel="stylesheet" href="../../../assets/styles/archived.css" />
    <script src="../../components/header/header.js"></script>
    <script src="../../components/footer/footer.js"></script>
  </head>
  <body>
    <main-header></main-header>
    <section>
      <h1 class="archived-title">Minhas Tarefas Arquivadas</h1>

      <section class="tasks-container">
        <h1>Tasks</h1>
        <div class="tasks">
          <div
            style="
              color: #535353;
              display: flex;
              justify-content: center;
              margin-top: 30px;
            "
          >
            Nenhuma tarefa adicionada
          </div>
        </div>
      </section>
    </section>
    <main-footer></main-footer>
    <script src="../js/archived.js"></script>
  </body>
</html>
