@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.input-add-task {
  border-radius: 10px;
  width: 500px;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  color: rgb(32, 33, 36);
  padding: 4px;
  margin-right: 10px;
}

.button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 11px;
  color: #4b4b4b;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: all;
  transition-duration: 500ms;
  transition-delay: 10ms;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.tasks-container {
  padding-top: 30xp;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasks {
  width: 600px;
  border: 1px solid #ccc;
  height: auto;
  min-height: 700px;
  border-radius: 9px;
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.button.remove:hover {
  border: 1px solid rgb(255, 39, 39);
  color: rgb(255, 39, 39);
}

.button.edit:hover {
  border: 1px solid rgb(39, 158, 255);
  color: rgb(39, 158, 255);
}

.button.archive:hover {
  border: 1px solid rgb(72, 168, 34);
  color: rgb(72, 168, 34);
}

#buttonEditTask {
  display: none;
}

.menu-mobile {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  display: none;
}

.menu-bar {
  background-color: #000;
  width: 100%;
  height: 3px;
}

.taskItem {
  max-width: 380px;
}

.taskItem {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

@media (max-width: 740px) {
  .list-header-container {
    flex-direction: column;
    top: 89px;
    right: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    gap: 0;
    display: none;
  }

  .list-header-container li {
    padding: 10px;
  }

  .menu-mobile {
    display: flex;
  }

  .active {
    display: block;
  }

  .tasks {
    width: 450px;
  }
  .input-add-task {
    width: 300px;
  }
}

@media (max-width: 470px) {
  .tasks {
    width: 400px;
  }
  .input-add-task {
    width: 250px;
  }
}
