@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

header a:hover {
  color: #949494;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header {
  color: rgb(32, 33, 36);
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 48px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header-container {
  display: flex;
  gap: 50px;
  font-size: 15px;
  font-weight: 400;
}

.input-add-task {
  border-radius: 10px;
  width: 500px;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  color: rgb(32, 33, 36);
  padding: 4px;
  margin-right: 10px;
}

.button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 11px;
  color: #4b4b4b;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: all;
  transition-duration: 500ms;
  transition-delay: 10ms;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.tasks-container {
  padding-top: 30xp;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasks {
  width: 600px;
  border: 1px solid #ccc;
  height: auto;
  min-height: 700px;
  border-radius: 9px;
}

footer {
  padding: 30px;
  border-top: 1px solid #ccc;
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.button.remove:hover {
  border: 1px solid rgb(255, 39, 39);
  color: rgb(255, 39, 39);
}

.button.edit:hover {
  border: 1px solid rgb(39, 158, 255);
  color: rgb(39, 158, 255);
}

#buttonEditTask {
  display: none;
}
