.container {
  max-width: 1140px;
  margin: auto;
}

header {
  color: rgb(32, 33, 36);
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 48px;
  padding: 20px;
}

header a:hover {
  color: #949494;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header-container {
  display: flex;
  gap: 50px;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 740px) {
  .list-header-container {
    flex-direction: column;
    top: 89px;
    right: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    gap: 0;
    display: none;
  }

  .list-header-container li {
    padding: 10px;
  }

  .menu-mobile {
    display: flex;
  }

  .active {
    display: block;
  }
}
